<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="" alt="" width="24" height="19">
        <small class="d-block mb-3 text-muted">&copy; 2017–2021</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>

      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>

      </div>
      <div class="col-6 col-md">
        <h5>About</h5>

      </div>
      <!-- <div class="col">
        <app-window></app-window>
      </div> -->
    </div>
</footer>
