<!-- <div class="chat-window">
  <app-window></app-window>  
</div> -->
<footer class="footer mt-auto py-3 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <span class="text-muted text-center">© Federico Morales 4°B 2021</span>
      </div>
      <div class="col">
        <!-- <a class="text-decoration-none"><i class="bi bi-chat"> Chat</i> </a> -->
        <i class="bi bi-chat text-light">
          <a class="text-decoration-none" [routerLink]=""> Chat</a>
        </i>
      </div>
    </div>
  </div>
</footer>
