<div>
    <app-header></app-header>
    
    <div class="container">
        <div class="p-4 p-md-5 mb-5 text-white rounded bg-dark">
            <div class="row">
                <div class="col-md-6 px-0">
                    <h1 class="display-4 fst-italic">Federico Morales</h1>
                    <p class="lead my-3">Hola, me llamo Federico Morales, tengo 32 años. Vivo en Quilmes con mi pareja y mi hijo Miguel de un año.</p>
                  </div>
                  <div class="col-md-3">
       
                </div>
                  <div class="col-md-3">
                      Imagen
                  </div>
            </div>

          </div>
    </div>
    <br>
    <br>
</div>

<app-footer></app-footer>
