<div>
    <app-header></app-header>
    
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mb-3 text-center">
            <div class="col">
              <app-game-card [data]="dataPiedraPapelTijera"></app-game-card>
            </div>
            <div class="col">
                <app-game-card [data]="dataTateti"></app-game-card>
              </div>
              <div class="col">
                <app-game-card [data]="dataPiedraPapelTijera"></app-game-card>
              </div>
              <div class="col">
                <app-game-card [data]="dataPiedraPapelTijera"></app-game-card>
              </div>
        </div>
    </div>
</div>

<app-footer></app-footer>