.font-game p,td,h1,h2 {
    font-family: 'Annie Use Your Telescope';
    font-size: 6rem;
}

.font-game h1,h2 {
    font-family: 'Annie Use Your Telescope';
    font-size: 4rem;
}

td > button{
    width: 10rem;
    height: 10rem;
}