<div class="card mb-4 rounded-3 shadow-sm chat">
  <div class="card-header py-3">
    <h4 class="my-0 fw-normal text-center">Sala de Chat</h4>
  </div>

  <div class="card-body chat"> 
    <div #salachat class="mensajes" *ngFor="let mje of mensajes">
      <div class="mje-chat text-primary" *ngIf="mje.userEmail == userService.currentUser.email">        
        {{mje.userName}}: {{mje.message}}
      </div>
      <div class="mje-chat text-secondary" *ngIf="mje.userEmail != userService.currentUser.email">        
        {{mje.userName}}: {{mje.message}}
      </div>
    </div>     
  </div>

  <div class="card-footer">
    <form [formGroup]="chatForm" (ngSubmit)="enviarMje()">
      <input type="text" class="form-control mje-ctrl" id="floatingInput" placeholder="Escriba aquí su mensaje" [(ngModel)]="mensaje" formControlName="messageCtrl">      
      <button type="submit" class="w-100 btn btn-lg btn-primary" [disabled]="chatForm.invalid">Enviar</button>      
      <small class="invalid" *ngIf="getMessageCtrl()?.errors?.maxlength && getMessageCtrl()?.touched">Máximo 20 caracteres</small>
    </form>
    
  </div>
</div>
