<div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header py-3">
      <h4 class="my-0 fw-normal">Chat</h4>
    </div>
    <div class="card-body">      
      <ul class="list-unstyled mt-3 mb-4">
        <li>10 users included</li>
        <li>2 GB of storage</li>
        <li>Email support</li>
        <li>Help center access</li>
      </ul>
      <input type="text" class="input" [(ngModel)]="mensaje">
      <button type="button" class="w-100 btn btn-lg btn-outline-primary" (click)="enviarMje()">Enviar</button>
    </div>
  </div>
