<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" >Sala de Juegos</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="" (click)="goToHome()">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="" (click)="goToQuienSoy()">Quién Soy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="" >Registros</a>
            </li>
          </ul>
          <form class="d-flex" (ngSubmit)="clickLogout()">
            <label class="text-light p-2 px-4">{{userName}}</label>
            <button class="btn btn-outline-warning" type="submit">Salir <i class="bi bi-power"></i></button>
          </form>
        </div>
      </div>
    </nav>
  </header>
